doctype html
html
    body
        h1 InteractionFramework
        p 是一個用於 Unity 中小型 2D 專案的互動系統框架，用於提供例如常見的「按 F 與 NPC/物件/場景進行互動」的機制。
        p 該框架提供 Interactor 與 Interaction 兩個組件，讓實作者可以根據需要自訂互動類型。例如在 Hourglass 中，與 NPC 對話、撿取場景中的物品都是衍生自 Interaction。
        p 依賴於 PhysicCaster2D。
        h2 截圖
        img.hfit.light-soft-boxshadow.vmargin-5p(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Develop_InteractionFramework/Assets/Behaviours.jpg" style="display:block")