mixin webP(s)
    img.hfit.light-soft-boxshadow.vmargin-5p(src=s)

h1.hctext Web 設計
p.hctext 主要為商業比稿參加作品。
.v-place-holder-2em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/GameRetail.jpg")
p.hctext 網路遊戲零售平台首頁設計。
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/NorwegienBlue.jpg")
p.hctext 淨水設備 Landing Page 設計。
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/GoldenYacht.jpg")
p.hctext 遊艇租賃服務首頁設計。
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/Bitgate.jpg")
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/BitgateM.jpg")
p.hctext 比特幣兌幣平台設計。