mixin webP(s)
    img.hfit.light-soft-boxshadow.vmargin-5p(src=s)

h1.hctext Web 設計
p.hctext 主要為商業比稿參加作品。
.v-place-holder-2em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/GameRetail.jpg")
p.hctext 網路遊戲零售平台首頁設計。沒有明確的設計方針，選擇相對娛樂化、刺激視覺的顏色。
.v-place-holder-1em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/NorwegienBlue.jpg")
p.hctext 淨水設備 Landing Page 設計。以乾淨、簡約、水為主題。
.v-place-holder-1em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/GoldenYacht.jpg")
p.hctext 遊艇租賃服務首頁設計。該服務主要 TA 為小資到中產階級，所以以奢華金色為主要調性，再以相對沉穩、金屬材質的黑色做簡單的搭配。
.v-place-holder-1em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/Bitgate.jpg")
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_WebsiteProjects/Assets/BitgateM.jpg")
p.hctext 比特幣兌幣平台設計。由於我對兌幣所（而非交易所）的認定是一個簡單的兌換服務，且該競賽要求 Minimalism，所以該設計只呈現必要資訊，以使用簡單為目的。但也許對於這類金融性質較強的服務來說，這種風格較難建立信任。