style
    | .design-project-image { width: 75%; display:block; margin: auto; margin-top: 2rem; margin-bottom: 2rem; box-shadow: 4px 8px 20px #999; }
h1.hctext FeedMe
p.hctext 經由線上 Freelance 平台獲取的案件。內容為線上外送訂購媒合平台的 Mockup。
img.design-project-image.hover-scale-1_5(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/FeedMe1A.jpg")
img.design-project-image.hover-scale-1_5(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/FeedMe1B.jpg")
img.design-project-image.hover-scale-1_5(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/FeedMe2.jpg")
img.design-project-image.hover-scale-1_5(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/FeedMe3.jpg")