h1.hctext 圖形設計
p.hctext 主要為商業比稿參加作品。
.v-place-holder-2em
img.hfit.light-soft-boxshadow.vmargin-5p(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_GraphicProjects/Assets/HelpSaveTheBees.jpg")
p.hctext 此為蜜蜂保育概念溝通傳單設計。