mixin webP(s)
    img.hfit.light-soft-boxshadow.vmargin-5p(src=s)

h1.hctext 圖形設計
p.hctext 主要為商業比稿參加作品。
.v-place-holder-2em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_GraphicProjects/Assets/HelpSaveTheBees.jpg")
p.hctext 蜜蜂保育概念溝通傳單設計。
.v-place-holder-1em
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_GraphicProjects/Assets/EmyVieriTrans.jpg")
p.hctext 運輸公司 Logo 案件，所有權利屬於該案甲方。
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_GraphicProjects/Assets/15_YZUSA_R_Poster.jpg")
+webP("https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_GraphicProjects/Assets/15_YZUSA_MovieE_Poster.png")
p.hctext 很早期的作品，當時剛上大學不久，只做到明確分離資訊層級。