
img.app-screen-image.hcblock(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/AppIconMasked.png" style="max-width: 25%")
h1.hctext HeyYZU
p.hctext 大學期間與 ITAC 社團夥伴接受元智大學資訊處委託的校園 Portal 雙平台 App 製作，當時負責 UI/UX 設計。\n由於資訊處政策上轉向 Web App，該 App 已退役。
br
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Dashboard.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Dashboard_Empty.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Course.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Course_HomeworkDetail.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Library_Main.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Library_Empty.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Library_List_Borrowing.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Library_List_Read.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Library_Searching.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Library_Search_NoResult.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/Calendar@3x.jpg")
img.app-screen-image.hover-scale-1_25.light-soft-boxshadow(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_HeyYZU/Assets/SideNav.jpg")