h1.hctext HeyYZU
p.hctext 大學期間與 ITAC 社團夥伴接受元智大學資訊處委託的校園 Portal 雙平台 App 製作，當時負責 UI/UX 設計。\n由於資訊處政策上轉向 Web App，該 App 已退役。

img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/AppIconMasked.png")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Dashboard.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Dashboard_Empty.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Course.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Course_HomeworkDetail.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Library_Main.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Library_Empty.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Library_List_Borrowing.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Library_List_Read.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Library_Searching.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Library_Search_NoResult.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/Calendar@3x.jpg")
img.design-project-image.previewableImage(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Design_FeedMe/Assets/SideNav.jpg")