doctype html
html
    head
    body
        iframe(src="https://itch.io/embed/365054?linkback=true&amp;border_width=0" width="100%" height="174" style="margin: auto;" frameborder="0")
        h1 HomingMeSoul
        p 是一個 GGJ2019 的參加作品。
        p 2019年度的 GGJ 主題為「家的意義」，經過數小時的腦力風暴，在捨棄了幾個想法後，我靈機一動，聯想到了 Homing Missile （歸航/追蹤導彈）的概念。
        p 隨著年紀增長，責任、期望或是自己內心的追求會讓我們自然而然向著安全舒適的家裡向外離開，將自己全力拋出去闖蕩，但我們終究是會回家的，不管這個家喧鬧或安靜、寬敞或緊湊、精緻或簡單，俗話說金窩銀窩不如自己的狗窩，回到家總是能讓人全新放鬆。
        p 家就像是一個永遠在那裏的引力源，又像一個巨大的磁鐵，始終在我們的背後、我們的心底牽扯著我們。
        p 你終究會回到你心中那個家。
        h2 玩法
        p HomingMeSoul 的定位是一個同樂型 Party Game，以操作簡單、有合作性為目標進行製作。
        p 玩家操作方式非常簡單，只需要用一個按鍵單壓、雙壓、長按就能完成遊戲，這個按鍵是自由選擇的，你可以按下鍵盤上任何一個按鍵（部分特殊功能鍵已排除）作為你的代號，從此你就可以用這個按鍵進行所有操作。
        p 玩家初始狀態都是圍繞著畫面中央代表著「家」的星球旋轉，按鍵即可將自己發射出去，目標是觸碰到空中環繞飛行的物資，獲得分數並得到再次發射的機會。
        p 在空中的角色持續受到引力牽扯，終究會回落到星球上，為了盡可能得到更多分數，玩家需要把握每一次發射機會準確地將自己拋向其他飛行物資，考驗玩家的個人戰術技巧。
        p 每個人在遊戲開始時都會被指定要取得一種物資，獲得的物資會在玩家回落到星球上時存入。
        p 然而，僅僅是你一個人帶回了物資並沒有意義，一個家需要各式各樣的外部資源，經由成員共同努力才能繁榮壯大；家中要存有至少兩種以上的物資才會發生化學反應，轉換成實際分數。
        p 分數的兌現並不僅限於兩種物資的融合，三種、四種...直到八種（遊戲玩家上限），都可以同時融合為分數，而且同時兌現為分數的物資種類越多，能獲得更多的額外獎勵分數，如何彼此協調，同時攜帶物資回家聚會來製造更多分數，考驗玩家們的團隊合作能力。
        h2 團隊角色
        p （GGJ）玩法企劃 / 主程式 / （後GGJ）製作完善
        h2 截圖        
        img.hfit.light-soft-boxshadow.vmargin-5p(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/HomingMeSoul/Assets/Screenshot.jpg")   
        img.hfit.light-soft-boxshadow.vmargin-5p(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/HomingMeSoul/Assets/Title.jpg")
        h2 資源
        a(href="https://gitlab.com/No3371/homingmesoul_ggj2019_tw") Gitlab Repo
