doctype html
html
    body
        h1 InventorySystem
        p 是一個輕量化、專用於 Unity 中小型專案的物品系統。
        p 物品資料庫以 ScriptableObject 保存，易於編輯，也利用了 ScriptableObject 化事件的型式讓 Game Designer 可以任意指定物品的行為。
        p 實際物品持有資料不仰賴 Monobehaviour，可以直接丟進存檔系統保存。
        p 該系統只有物品管理邏輯，實際與場景互動、物品移動交由外部系統自由操作。例如在 Hourglass 中，使用了 Interaction System 來製作撿取物品的行為。
        h2 截圖
        img.hfit.light-soft-boxshadow.vmargin-5p(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Develop_InventorySystem/Assets/database.jpg" style="display:block")
        img.hfit.light-soft-boxshadow.vmargin-5p(src="https://raw.githubusercontent.com/No3371/No3371.github.io/master/Portfolio/Develop_InventorySystem/Assets/ItemHolder.jpg" style="display:block")